<main class="container">
  <div class="profileEdit">
  <h3> <%= user.username  %> </h3>
  <% if(user._id.toString() === locals.currentUser._id.toString()) { %>
      <a href="/users/<%= user._id %>/edit" class="button edit is-dark">Edit</a>
  <% } %>
</div>
  <% if(user._id.toString() !== locals.currentUser._id.toString()) { %>
  <div class="followButtons">
    <% if(!locals.currentUser.hasFollowed(user)){ %>
    <form method="POST" action="/users/<%= user._id %>/follow">
      <button class="button is-success is-rounded">Follow</button>
    </form>
    <% } else { %>
    <form method="POST" action="/users/<%= user._id %>/follow/:followId">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger is-rounded">Unfollow</button>
    </form>
      <% } %>
    </div>
    <% } %>
  <div class="columns">
    <div class="column is-one-quarter-desktop is-half-tablet">
      <h3 class="title is-3">Profile</h3>
      <label class="label">Username:</label>
      <div class="usernameinput">
        <p> <%= user.username  %> </p>

      </div>
        <% if(user._id.toString() === locals.currentUser._id.toString()) { %>
      <label class="label">Email:</label>
      <p> <%= user.email  %> </p>
        <% } %>
      <label class="label">About You:</label>
      <p> <%= user.aboutyou  %> </p>
      <div class="field">
        <label class="label">Profile Image</label>
        <img src="<%= user.imageSRC %>" alt="<%= user.username  %>">
      </div>
    </div>


    <div class="column is-one-quarter-desktop is-half-tablet">
      <h3 class="title is-3">Your Faves</h3>
      <% user.faves.forEach(question => { %>
        <a href="/questions/<%= question.id %>">
        <div class="card">
        <div class="card-content">
        <h3 class="title"><%= question.title %></h3>
        </div>
        <% if(!user.hasFavorited(question)){ %>
          <form method="POST" action="/questions/<%= question._id %>/favorite">
          <input type="hidden" name="_method" value="<% question._id %>">
          <button type="button" class="button is-primary">Favourite</button>
          </form>
          <% } else { %>
            <form method="POST" action="/questions/<%= question._id %>/favorite">
            <input type="hidden" name="_method" value="DELETE">
            <button type="button" class="button is-danger">Unfavourite</button>
            </form>
            <% } %>

            <div class="card-image" style="background-image: url(<%= question.image %>)"></div>

            <div class="voteButtons">
            <form method="POST" action="/questions/<%= question._id %>/upvote">
            <% if(question.hasBeenUpvotedBy(user)) { %>
              <button class="button upvote is-success is-rounded" disabled>Yay (<%= question.upvotes.length %>)</button>
              <% } else { %>
                <button class="button upvote is-success is-rounded">Yay (<%= question.upvotes.length %>)</button>
                <% } %>
                </form>
                <form method="POST" action="/questions/<%= question._id %>/downvote">
                <% if(question.hasBeenDownvotedBy(user)) { %>
                  <button class="button downvote is-warning is-rounded" disabled>Sorry, not Sorry (<%= question.downvotes.length %>)</button>
                  <% } else{ %>
                    <button class="button downvote is-warning is-rounded">Sorry, not Sorry (<%= question.downvotes.length %>)</button>
                    <% } %>
                    </form>
                    </div>
                    </div>

                    </a>
                    <% }) %>
                  </div>
                  <div class="column">
                    <h3 class="title is-3">Followers</h3>
                    Might have to get rid of :(
                  </div>
                  <div class="column">
                    <h3 class="title is-3">Following</h3>
                    <ul>


                    <% user.followedUsers.forEach(user => { %>
                      <li>
                      <div class="profileHead">

                        <a href="/users/<%= user._id%>"><img src="<%= user._id.imageSRC %>" alt="" width="50px"></a>
                        <a href="/users/<%= user._id%>"><p><%= user._id.username %></p></a>
                        </li>
                      <% }) %>
                    </div>
                    </ul>


                  </div>
                </main>
