<main class="container">
  <h3 class="title is-3">Your Questions Answered!</h3>
  <div class="columns is-multiline">
    <% questions.forEach(question => { %>
    <div class="column is-one-quarter-desktop is-half-tablet">
     <a href="/questions/<%= question.id %>">
      <div class="card">
        <div class="card-content">
        <h3 class="title"><%= question.title %></h3>
        </div>
        <% if (locals.currentUser) { %>
          <% if(!locals.currentUser.hasFavorited(question)){ %>
            <form method="POST" action="/questions/<%= question._id %>/favorite">
              <button class="button is-primary fave"><i class="fa fa-heart fave"></i></button>
            </form>
          <% } else { %>
            <form method="GET" action="/questions/<%= question._id %>/favorite">
              <button class="button is-danger fave"><i class="fa fa-heart fave"></i></button>
            </form>
          <% } %>
        <% } %>
        <div class="card-image" style="background-image: url(<%= question.image %>)">
        </div>
        <div class="voteButtons">
        <form method="POST" action="/questions/<%= question._id %>/upvote">
          <% if(question.hasBeenUpvotedBy(locals.currentUser)) { %>
            <% let totalvotes = question.downvotes.length + question.upvotes.length %>
            <button class="button upvote is-success is-rounded default" disabled>Yay <%=( Math.round( question.upvotes.length / totalvotes * 100 ))%>%</button>
          <% } else { %>
            <% let totalvotes = question.downvotes.length + question.upvotes.length %>
            <button class="button upvote is-success is-rounded default">Yay <%=( Math.round( question.upvotes.length / totalvotes * 100 ))%>%</button>
          <% } %>
        </form>
        <form method="POST" action="/questions/<%= question._id %>/downvote">
          <% if(question.hasBeenDownvotedBy(locals.currentUser)) { %>
            <% let totalvotes = question.downvotes.length + question.upvotes.length %>
            <button class="button downvote is-warning is-rounded default" disabled>Sos, not Sos - <%=( Math.round( question.downvotes.length / totalvotes * 100 ))%>%</button>
          <% } else{ %>
            <% let totalvotes = question.downvotes.length + question.upvotes.length %>
            <button class="button downvote is-warning is-rounded default">Sos, not Sos - <%=( Math.round( question.downvotes.length / totalvotes * 100 ))%>%</button>
          <% } %>
        </form>

        </div>
      </div>

      </a>
    </div>

    <% }) %>

  </div>
</main>
