<main class="container">
  <div class="columns is-multiline">

    <% questions.forEach(question => { %>
    <div class="column is-one-quarter-desktop is-half-tablet">
     <a href="/questions/<%= question.id %>">
      <div class="card">
        <div class="card-content">
        <h3 class="title"><%= question.title %></h3>
        </div>
        <div class="card-image" style="background-image: url(<%= question.image %>)">
        </div>

        <div class="voteButtons">
        <form method="POST" action="/questions/<%= question._id %>/upvote">
          <% if(question.hasBeenUpvotedBy(locals.currentUser)) { %>
            <button class="button upvote is-success is-rounded" disabled>Yay (<%= question.upvotes.length %>)</button>
          <% } else { %>
            <button class="button upvote is-success is-rounded">Yay (<%= question.upvotes.length %>)</button>
          <% } %>
        </form>
        <form method="POST" action="/questions/<%= question._id %>/downvote">
          <% if(question.hasBeenDownvotedBy(locals.currentUser)) { %>
            <button class="button downvote is-warning is-rounded" disabled>Sorry, not Sorry (<%= question.downvotes.length %>)</button>
          <% } else{ %>
            <button class="button downvote is-warning is-rounded">Sorry, not Sorry (<%= question.downvotes.length %>)</button>
          <% } %>
        </form>

        </div>
      </div>

      </a>
    </div>

    <% }) %>

  </div>
</main>
